# dependencies
node_modules
**/node_modules

# builds
dist
.next
out

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode
.idea

# NestJS
**/dist

# NextJS
**/.next
**/out

# coverage
coverage
*.sql